@model SunucuMvcPinterest.Models.Model.Uye

@{
    ViewBag.Title = "Uye_Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <h2>@Session["uyarı"].ToString()</h2>

<div style="padding-top:100px" class="container" align="center">
    @using (Html.BeginForm())
    {<div class="form-group">
    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(model => model.k_adi, new { htmlAttributes = new { @class = "form-control" } })
</div>

     <div class="form-group">
         <label>Şifre</label>
         @Html.TextBoxFor(model => model.sifre, new { htmlAttributes = new { @class = "form-control" } })
     </div>
     <div class="form-group">
         <label>Adı Soyadı</label>
         @Html.TextBoxFor(model => model.adSoyad, new { htmlAttributes = new { @class = "form-control" } })
     </div>
     <div class="form-group">
         <label>Telefon</label>
         @Html.TextBoxFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control" } })
     </div>
     <div class="form-group">
         <label>Mail</label>
         @Html.TextBoxFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
     </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-success" />
            </div>
        </div>
    }

</div>

